.main {
  max-width: 1242px;
  margin: 0 auto;
  gap: 60px;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    height: 108px;
    box-shadow: 0px 12px 24px 0px #14142b1c;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #170F49;
    font-size: 19px;
    font-weight: 700;
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 680px;
    margin: 50px auto;
    
    h1 {
      font-weight: 700;
      font-size: 34px;
      line-height: 46px;
    }
    
    p {
      text-align: center;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      color: #6F6C90;

    }
  }

  .form {
    display: flex;
    flex-direction: column;
    background: #FAF8F8;
    padding: 30px 30px 70px;
    max-width: 580px;
    margin: 0 auto;
    border-radius: 34px;
    gap: 25px;

    &__text {
      padding: 0 20px;
    }

    hr {
      height: 1px;
      background: #D9DBE9;
      border: 0;
    }

    .form_test {
      display: flex;
      flex-direction: column;
      gap: 20px;

      label {
        display: flex;
        flex-direction: column;
        gap: 18px;
        color: #170F49;
        font-weight: 500;
        

        input {
          padding: 20px;
          border: 0;
          border-radius: 46px;
          font-weight: 400;
          font-size: 18px;
          line-height: 20px;
          box-shadow: 0px 2px 6px 0px #13124212;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  button {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 50px auto ;
    padding: 15px 25px;
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    border-radius: 56px;
    background: linear-gradient(180deg, #9E96F2 0%, #EC31F0 100%);
    border: 0;
    color: #FFFFFF;
  }

}

.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid red;
}